label.error {
		color: red;
		font-size: 14px;
		font-weight: normal;
		line-height: 1;
		margin-top: 0.2em;
		width: 50%;
		float: none;
		background: url('images/unchecked.gif') no-repeat;
		padding-left: 16px;
		margin-left: .3em;
	}

	@media screen and (orientation: portrait) {
		label.error {
			margin-left: 0;
			display: block;
		}
	}
	@media screen and (orientation: landscape) {
		label.error {
			display: inline-block;
			margin-left: 22%;
		}
	}
	em {
		color: red;
		font-weight: bold;
		padding-right: .25em;
	}
	
	input.error { border: 1px solid red;}

 .ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn {
    text-align: left;
    white-space: unset;
   }
 .ui-listview > li:hover{
  /*background-color:rgba(240, 141, 156, 0.26);*/
   }
  .ui-listview > li > a.ui-btn:hover{
    /* background-color:rgba(240, 141, 156, 0.26); */
    }

.ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn {
    text-align: left;
    white-space: unset;
		}
 .ui-listview > li:hover{
 /* background-color:rgba(240, 141, 156, 0.26);*/
  }
  .ui-listview > li > a.ui-btn:hover{
   /* background-color:rgba(240, 141, 156, 0.26);*/
    }

     .hidden{
	  display:none; }

@media all and (min-width: 75em) {
	.gridlist.ui-grid-f .ui-block-b{ width: 12.5%; }
	}

.collectionlist.ui-grid-f .ui-block-b{
width: 11.1%; 
}

@media all and (min-width: 75em) {
	.collectionlist.ui-grid-f .ui-block-b{ width: 11.1%; }
	}

.my-breakpoint.ui-grid-f .ui-block-b{
width: 12.5%; 
}

@media all and (min-width: 75em) {
	.my-breakpoint.ui-grid-f .ui-block-b{ width: 12.5%; }
	}




#printreceipt{
width:450px;
height:300px;

}
#li_content{
width:450px;

font-size : 0.75em; 
font-family : Arial;
}



.group {
	background: transparent;
	width:90%;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 1px solid black;
	border-radius: 0;
	height:auto;
	-webkit-appearance: none;
	 font-family:helvetica-roman;
	color:#000000;   
	}


.dropdown 
{
color: #555;
margin: 3px -22px 0 0;
width: 143px;
position: relative;
height: 17px;
text-align:left;
}
.submenu
{
background: #fff;
position: absolute;
top: -12px;
left: -20px;
z-index: 100;
width: 135px;
display: none;
margin-left: 10px;
padding: 40px 0 5px;
border-radius: 6px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}
.dropdown li a 
{
color: #555555;
display: block;
font-family: arial;
font-weight: bold;
padding: 6px 15px;
cursor: pointer;
text-decoration:none;
}

.dropdown li a:hover
{
background:#155FB0;
color: #FFFFFF;
text-decoration: none;
}
a.account 
{
font-size: 11px;
line-height: 16px;
color: #555;
position: absolute;
z-index: 110;
display: block;
padding: 11px 0 0 20px;
height: 28px;
width: 121px;
margin: -11px 0 0 -10px;
text-decoration: none;
background: url(http://lewistechnologies.in/common/css/images/arrow.png) 116px 17px no-repeat;
cursor:pointer;
}
.root
{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
padding: 11px 0 0 0px;
border-top:1px solid #dedede;
}
.tests {
		overflow: auto;
		height:500px;
		}
.param {
		overflow: auto;
		height:300px;
		}
.editparam {
		overflow: auto;
		height:300px;
		}
.header .ui-input-search 
		{
			float:left;
		}

div#dailyReport .ui-block-a{
					  border:1px solid black;
					  padding-left:5px;
					  }
					div#dailyReport .ui-block-b{
					  
					  border:1px solid black;
					  padding-left:5px;
					  }
					  div#dailyReport .ui-block-c{
					
					  border:1px solid black;
					  padding-left:5px;
					  }
					  div#dailyReport .ui-grid-a>.ui-block-b{
					  width:33%
					  border:1px solid black;
					  padding-left:5px;
}



.panelsubmenu {
		
	  display: none;
	  margin:0;
	 
	
}
.stdclass {

		display: none;

}

.panellist {
		overflow: auto;
		height:400px;
		}
.userinfo{
					width:100%;
					overflow-y:hidden; 
					
		         	background-color:#E9E9E9;
					border:1px solid black;
				}


				.hiddentext 
				 {
				  display : none;
				}	
				

#content_list {
					overflow: auto;
					height:700px;
				}

#search_list {
					overflow: auto;
					height:700px;
				}

	
#applied_list {
					overflow: auto;
					height:700px;
			  }	   

.fileinput-button {
						position: relative;
						overflow: hidden;
						float: left;
						margin-right: 4px; 
						margin-top: -45px;
						margin-left: 38%;
				}
				
					
.fileinput-button input {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		opacity: 0;
		filter: alpha(opacity=0);
		transform: translate(-300px, 0) scale(4);
		font-size: 23px;
		direction: ltr;
		cursor: pointer;
}

input.addimage{
	/*background: white url(images/arrow_right.png) right no-repeat;*/
	padding-right: 20px;
}	

.list-view {    
    height: 300px;          
    overflow: auto;   
    -webkit-overflow-scrolling:touch; 
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 12px;
}
::-webkit-scrollbar:horizontal {
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

#dash ul {
	width:100%;
	list-style-type: none;
}

#dash li {
	float:left;
	height:130px;
	margin:0 0px 20px 0;
	width:50%;
	list-style-type: none;
	margin-top:30px;	
}

#dash li:nth-child(even){
	margin-right:0;
}

a {
	text-decoration: none !important;
}

img {max-width:100%}	
		.circle {
		  border-radius: 50%;
		  width: 80px;
		  padding-bottom: 80px;
		  background: blue;
		  align-text:center;
}


.ui-badge-container {
	position: relative;
	color: #fff;
	padding: 10px;
	height:130px;
	float:left;
	margin:0 0px 20px 0;
	width:50%;
	list-style-type: none;
	margin-top:30px;
}
	
		.badge {
			background: orange;
			color: #fff;
			border-radius:5px;
		}
		
		
		#keyskills
		{
		border-style:none;
		width:200px;
		}
		
		#keyskills:hover
		{
		border-style:solid;
		}
		#keyskills:focus
		{
		border-style:solid;
		}	
		
		///***Edit***///
		html,body,#wrapper{
			width:100%;
		}

		#wrapper div{
			height:30px;
			width:calc(100%/3);
			display:inline-block;	
		}
		
		
		/////Edit///
		
		///***DASHBOARD***///
		html,body,#dashboard{
			width:50%;
		}

		#dashboard div{
			border:1px solid green;
            float:left;
			height:50px;
			
			width:50%;
			margin-top:20px;
			margin-right:0;
				
		}
		
		/////Edit///
		
		#list {
		width:50%;
		
		}
		#list_main div 
		{
			width:50%;
			border: none;
		}
		
		#multipleline{
			text-overflow: initial !imporatnt;
			overflow: visible !imporatnt;
			white-space: normal !important;
		}
		
		#matched_ul{
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}
#matched_ul .ui-li {
    border: none;
}			   

#dash ul {
    width:100%;
	list-style-type: none;
}

#dash li {
    
    float:left;
    height:130px;
    margin:0 0px 20px 0;
    width:50%;
	list-style-type: none;
	margin-top:30px;
}

#dash li:nth-child(even){
    margin-right:0;
}
a {
    text-decoration: none !important;
}
img {max-width:100%}





/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
 .tooltipster-default {
    border-radius: 5px;
    border: 2px solid #000;
    background: #4c4c4c;
    color: #fff;
}
/* Use this next selector to style things like font-size and line-height: */
 .tooltipster-default .tooltipster-content {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    overflow: hidden;
}
/* This next selector defines the color of the border on the outside of the arrow. This will automatically match the color and size of the border set on the main tooltip styles. Set display: none; if you would like a border around the tooltip but no border around the arrow */
 .tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
    /* border-color: ... !important; */
}
/* If you're using the icon option, use this next selector to style them */
 .tooltipster-icon {
    cursor: help;
    margin-left: 4px;
}
/* This is the base styling required to make all Tooltipsters work */
 .tooltipster-base {
    padding: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    z-index: 9999999;
    pointer-events: none;
    width: auto;
    overflow: visible;
}
.tooltipster-base .tooltipster-content {
    overflow: hidden;
}
/* These next classes handle the styles for the little arrow attached to the tooltip. By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself. */
 .tooltipster-arrow {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.tooltipster-arrow span, .tooltipster-arrow-border {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    border-top: 8px solid;
    bottom: -8px;
}
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
    border-left: 9px solid transparent !important;
    border-right: 9px solid transparent !important;
    border-top: 9px solid;
    bottom: -8px;
}
.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    border-bottom: 8px solid;
    top: -8px;
}
.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
    border-left: 9px solid transparent !important;
    border-right: 9px solid transparent !important;
    border-bottom: 9px solid;
    top: -8px;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
    left: 0;
    right: 0;
    margin: 0 auto;
}
.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
    left: 6px;
}
.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
    left: 5px;
}
.tooltipster-arrow-top-right span, .tooltipster-arrow-bottom-right span {
    right: 6px;
}
.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
    right: 5px;
}
.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
    border-top: 8px solid transparent !important;
    border-bottom: 8px solid transparent !important;
    border-left: 8px solid;
    top: 50%;
    margin-top: -7px;
    right: -8px;
}
.tooltipster-arrow-left .tooltipster-arrow-border {
    border-top: 9px solid transparent !important;
    border-bottom: 9px solid transparent !important;
    border-left: 9px solid;
    margin-top: -8px;
}
.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
    border-top: 8px solid transparent !important;
    border-bottom: 8px solid transparent !important;
    border-right: 8px solid;
    top: 50%;
    margin-top: -7px;
    left: -8px;
}
.tooltipster-arrow-right .tooltipster-arrow-border {
    border-top: 9px solid transparent !important;
    border-bottom: 9px solid transparent !important;
    border-right: 9px solid;
    margin-top: -8px;
}
/* Some CSS magic for the awesome animations - feel free to make your own custom animations and reference it in your Tooltipster settings! */
 .tooltipster-fade {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
}
.tooltipster-fade-show {
    opacity: 1;
}
.tooltipster-grow {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-backface-visibility: hidden;
}
.tooltipster-grow-show {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-swing {
    opacity: 0;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -o-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    transform: rotateZ(4deg);
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
}
.tooltipster-swing-show {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    -webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1);
    -webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
    -moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
    -ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
    -o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
    transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
}
.tooltipster-fall {
    top: 0;
    -webkit-transition-property: top;
    -moz-transition-property: top;
    -o-transition-property: top;
    -ms-transition-property: top;
    transition-property: top;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-fall-show {
}
.tooltipster-fall.tooltipster-dying {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    top: 0px !important;
    opacity: 0;
}
.tooltipster-slide {
    left: -40px;
    -webkit-transition-property: left;
    -moz-transition-property: left;
    -o-transition-property: left;
    -ms-transition-property: left;
    transition-property: left;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-slide.tooltipster-slide-show {
}
.tooltipster-slide.tooltipster-dying {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    -ms-transition-property: all;
    transition-property: all;
    left: 0px !important;
    opacity: 0;
}
/* CSS transition for when contenting is changing in a tooltip that is still open */
 .tooltipster-content-changing {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}